body{
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
	background-image: url(assets/landingPageBG.jpeg);
	background-position: center;
	color: white;
}

header{
	width: 100vw;
	height: 20vh;
	background-color: white;
}

#toGamePage{
	width: 100vw;
	height: 7vh;
	background-color: #eff0f1;
}

#button{
	height:100%;
	padding-top:1.3vh;
}
/*
styling the link to the gamepage similar to my style guide's example*/
a{
	font-size:3vh;
	text-decoration: none;
	color: black;
}

a:hover {
	color:red;
	background-color: #eee;
}

#container{
	margin-top:48vh;
}

p{
	margin-top:0.5vh;
	padding:0 15%;
	text-shadow: -1px 0px black, 0px -1px black, 1px 0px black, 0px 1px black;
	background-color: rgba(30,30,30,.4);
}

/*everything below this holds the car*/
#carDiv {
	position: relative;
	margin-top: 3vh;
	left: 46vw;
	width: 12vh;
	height: 8vh;
}

#car {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 2;
}

#car:hover {
	
}

#letter {
	font-family: 'Varela Round', sans-serif;
	position: relative;
	text-align: left;
	left: 30%;
	top: -75%;
	font-size: 4vh;
	z-index: 3;
	color: black;
}
